<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
        
    </startup>
	<appSettings>
		<add key="destinatariosEmail" value="jhonpo1593@gmail.com" />
	</appSettings>

    <!-- Please uncomment this section if the Target Framework of this application is v4.6.2 or lower, and Visual Studio 2019 or later is used for development.
    <runtime>
       <AppContextSwitchOverrides value="Switch.System.Activities.UseMD5ForWFDebugger=false" />
    </runtime>
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
